.vscode/settings.json
*.pyc
*.log
**/.ipynb_checkpoints/
sparkmonitor/labextension
scalalistener/project/
scalalistener/target/
sparkmonitor/*.jar
*.egg-info/
dist/
build/
node_modules/
sparkmonitor/static/
docs/
lib/
venv
.tox
.metals
*.tsbuildinfo
scalalistener/.bsp

.vscode
.metals
.bloop
.idea