.pm .tdstageicon {
  display: block;
  width: 15px;

  /* display: inline-block; */
  top: -2px;
  height: 24px;
  vertical-align: middle;
  transition: transform 0.4s;
  transform: rotate(0deg);
}

.pm .tdstageiconcollapsed {
  transform: rotate(90deg);
}

.pm td.stagetableoffset {
  background-color: var(--jp-layout-color0);
}

.pm th {
  white-space: nowrap;
  font-size: small;
  background-color: var(--jp-layout-color2);
  border: 0;
}

.pm td {
  background-color: var(--jp-layout-color0);
  border: 0;
  font-size: small;
  border-top: 1px solid rgb(84 84 84 / 8%);
  padding: 0;
}

.pm table {
  border-radius: 0;
  width: 100%;

  /* border: 1px solid #CFCFCF; */

  /* height: 10px; */
  border-spacing: 0;
}

.pm tbody {
  /* height: 100px; */
  overflow: auto;
}

.pm tr {
  border: 0;
}

.pm td,
.pm th {
  text-align: center;
  vertical-align: middle;
  height: 25px;
  line-height: 25px;
}

.pm tr .tdstagebutton:hover ~ td,
tr .tdstagebutton:hover {
  background-color: var(--jp-layout-color2);
}

.pm th.thbutton {
  width: 4%;
}

.pm th.thjobid {
  width: 6%;
}

.pm th.thjobname {
  width: 10%;
  white-space: nowrap;
}

.pm th.thjobstatus {
  width: 12%;
}

.pm th.thjobtages {
  width: 10%;
}

.pm th.thjobtasks {
  width: 28%;
}

.pm th.thjobstart {
  width: 20%;
}

.pm th.thjobtime {
  width: 10%;
}

.pm th.thstageid {
  width: 8%;
}

.pm th.thstagename {
  width: 10%;
  white-space: nowrap;
}

.pm th.thstagestatus {
  width: 17%;
}

.pm th.thstagetasks {
  width: 33%;
}

.pm th.thstagestart {
  width: 20%;
}

.pm th.thstageduration {
  width: 12%;
}

progress {
  padding: 2px;
}

.pm .tdstatus {
  padding: 2px;
}

.pm .running {
  background-color: #42a5f5;
}

.pm .failed {
  background-color: #db3636;
}

.pm .completed {
  background-color: #20b520;
}

.pm .pending {
  background-color: #9c27b0;
}

.pm .skipped {
  background-color: #616161;
}

.pm .completed,
.pm .failed,
.pm .running,
.pm .pending,
.pm .skipped {
  font-size: 75%;
  color: white;
  border-radius: 2px;
}

.pm .tdstagestatus > span,
.pm .tdjobstatus > span {
  padding: 4px 8px;
}

.pm .stagetable tr th {
  background: var(--jp-layout-color2);
}

.pm .cssprogress {
  display: block;
  background: #e7e7e7;
  width: 100%;
  height: 20px;
  padding: 0;
  overflow: hidden;
  text-align: left;
  position: relative;
  font-size: 75%;
  border-radius: 2px;
  color: white;
}

.pm .cssprogress .val1 {
  width: 0%;
  background: #20b520;
}

.pm .cssprogress .data {
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 4;
  line-height: 20px;
}

.pm .cssprogress .val2 {
  background: #42a5f5;
  width: 0%;
}

.pm .cssprogress span {
  height: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: width 1s;
}
